*{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.heading{
  background-image: url(./chinese\ rice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.rece{
  padding: 300px 100px;
  cursor: pointer;
}
a{
  text-decoration: none;
  list-style: none;
  color: black;
}
.spag{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: burlywood;
  width: 90%;
  height: 90vh;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}
.imh{
  width: 50%;
  height: 70vh;
}
.imhi{
  width: 50%;
  height: 70vh;
}
.spa{
 text-align: center;
 width: 90%;
 height: 650px;
 margin: auto;
}
.org{
  margin-top: 50px;

}
.tabl{
  margin: auto;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
}
li{
  text-align: start;
}
.meth{
  margin-top: 30px;
}
.hee{
  margin-top: 20px;
}
.word{
    margin-top: 20px;
}
.hist{
  margin-top: 20px;
}
.the{
  margin-top: 20px;
}
.meth{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  line-height: 20px;
}
.food-item{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 50vh;
  background-color: whitesmoke;
 margin: auto;
 margin-top: 40px;
}
.card{
  border-radius: 10px;
  background-color: burlywood;
  width: 100px;
  height: 30vh;
  align-items: center;
}
.all{
  margin-top: 40px;
}
.food{
  margin-top: 20px;
}




@media (min-width: 1400px) {
  .rece{
    padding: 300px 100px;
    cursor: pointer;
   text-align: center;
}
}


@media only screen and (max-width: 1199px){
  .rece{
    padding: 300px 100px;
    cursor: pointer;
   text-align: center;
}
}

@media (min-width: 767px) {
  .heading{
    background-image: url(./chinese\ rice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  .rece{
    /* padding: 350px 450px; */
    cursor: pointer;
    margin-top: 100px;
  }
  .word{
    width: 60%;
    height: 20vh;
    margin: auto;
    margin-top: 40px;
  }
  .tabl{
    margin: auto;
    text-align: center;
    /* padding: 10px 10px; */
   
  }
  .spa{
    text-align: center;
    width: 90%;
    height: 650px;
    margin: auto;
   }
  table, th, td {
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
  }
  li{
    text-align: start;
  }
  .meth{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    line-height: 20px;
  }
  .org{
    margin-top: 50px;
  }
  .the{
    margin-top: 40px;
  }
  .hist{
    margin-top: 40px;
  }
  .hee{
    margin-top: 20px;
  }
  .food-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 50vh;
    background-color: whitesmoke;
   margin: auto;
   margin-top: 40px;
   gap: 10px;
  }
  .card{
    border-radius: 10px;
    background-color: aquamarine;
    width: 150px;
    height: 30vh;
    align-items: center;
  }
}

@media only screen and (max-width: 575px){
  .rece{
    padding: 383px 41px;
    cursor: pointer;
   text-align: center;
}
.food-item{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 30vh;
  background-color: whitesmoke;
 margin: auto;
 margin-top: 40px;
 gap: 10px;
}

}
@media only screen and (max-width: 450px){
  .the{
    /* margin-top: 20px; */
    width: 70%;
  }
  .spag {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
    width: 99%;
    height: 90vh;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    gap: 10px;
}
}

@media only screen and (max-width: 320px){
  .rece{
    padding: 300px 100px;
    cursor: pointer;
   text-align: center;
  }
}


