*{
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
}
.heading{
  background-image: url(./chinese\ rice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.rece{
  padding: 300px 100px;
  cursor: pointer;
}
a{
  text-decoration: none;
  list-style: none;
  color: black;
}
.spag{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: burlywood;
  width: 90%;
  height: 90vh;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}
.imh{
  width: 50%;
  height: 70vh;
}
.imhi{
  width: 50%;
  height: 70vh;
}
.spa{
 text-align: center;
 width: 90%;
 height: 650px;
 margin: auto;
}
.org{
  margin-top: 50px;

}
.tabl{
  margin: auto;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
}
li{
  text-align: start;
}
.meth{
  margin-top: 30px;
}
.hee{
  margin-top: 20px;
}
.word{
    margin-top: 20px;
}
.hist{
  margin-top: 20px;
}
.the{
  margin-top: 20px;
}
.meth{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  line-height: 20px;
}








@media (min-width: 768px) {
  .heading{
    background-image: url(./chinese\ rice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  .rece{
    padding: 350px 450px;
    cursor: pointer;
  }
  .word{
    width: 60%;
    height: 20vh;
    margin: auto;
    margin-top: 40px;
  }
  .tabl{
    margin: auto;
    text-align: center;
    /* padding: 10px 10px; */
   
  }
  table, th, td {
    border: 1px solid black;
    margin: auto;
  }
  li{
    text-align: start;
  }
  .meth{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    line-height: 20px;
  }
  .org{
    margin-top: 50px;
  }
  .the{
    margin-top: 40px;
  }
  .hist{
    margin-top: 40px;
  }
  .hee{
    margin-top: 20px;
  }
}